<!DOCTYPE html>
<html>
  <head>
    <title>Illstack</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="container">  
      <div class="col-xs-12">
        <p>
          <h1>illstack</h1>
        </p>
          <% if user_signed_in? %>
        <p>
            <%= link_to root_path, :class => "btn btn-default" do %>
              <span class="glyphicon glyphicon-home"></span>
            <% end %>
            <%= link_to home_show_path, :class => "btn btn-success" do %>
              <span class="glyphicon glyphicon-user"></span>マイページ
            <% end %>
            <%= link_to edit_user_registration_path, :class => "btn btn-warning" do %>
              <span class="glyphicon glyphicon-cog"></span>設定
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, :class => "btn btn-danger" do %>
              <span class="glyphicon glyphicon-log-out"></span>ログアウト
            <% end %>
        </p>  
        <p>
          ログイン中: <%= current_user.email %>
        </p>
          <% else %>
        <p>
          <%= link_to new_user_registration_path, :class => "btn btn-primary" do %>
            <span class="glyphicon glyphicon-check"></span>新規登録
          <% end %>
          <%= link_to new_user_session_path, :class => "btn btn-success" do %>
            <span class="glyphicon glyphicon-log-in"></span>ログイン
          <% end %>
        </p>
          <% end %>

        <% if notice != nil %>
        <p class="alert alert-info"><%= notice %></p>
        <% end %>
        
        <% if alert != nil %>  
        <p class="alert alert-danger"><%= alert %></p>
        <% end %>

        <hr>
        
        <%= yield %>

      </div>
    </div>
  </body>
</html>
