<!DOCTYPE html>
<html>
  <head>
    <title>Illstack</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="container">  
      <div class="col-xs-12">
        <p>
          <h1>illstack</h1>
        </p>
          <% if user_signed_in? %>
        <p>
            <%= link_to "プロフィール変更", edit_user_registration_path, :class => "btn btn-success" %> 
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, :class => "btn btn-danger" %>
            ログイン中: <%= current_user.email %>
        </p>  
          <% else %>
        <p>
            <%= link_to "サインイン", new_user_registration_path, :class => "btn btn-primary" %> 
            <%= link_to "ログイン", new_user_session_path, :class => "btn btn-success" %>
        </p>
          <% end %>

        <% if notice != nil %>
        <p class="alert alert-info"><%= notice %></p>
        <% end %>
        
        <% if alert != nil %>  
        <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        
        <%= yield %>

      </div>
    </div>
  </body>
</html>
